.about-intro {
  font-weight: 200;
  font-style: oblique;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 2rem;
  text-align: center;
}

.about-title {
  font-weight: 200;
  text-transform: uppercase;
  font-style: oblique;
  font-size: 1.75rem;
}

.about-subtitle {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.circle {
  border-radius: 999px;
  overflow: hidden;
}

p {
  font-size: 1.25rem;
  font-weight: 200; 
}