.project {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.15);

  .project-preview {

  }

  .project-details {
    padding: 10px 15px;

    h3 {
      margin-bottom: 0.25rem;
    }

    p {
      margin-bottom: 0;
      font-size: 1rem;
    }
  }
}