/*
  projects.less - Styles for the projects grid
*/

.project, .project-sizer {
  width: 50%;

  @media screen and (max-width: @screen-lg) {
    width: 100%;
  }
}

.project-full {
  width: 100%;
}

