/*
  theme.less - Styles for base HTML (p, headings, a, etc.) and other general styles
*/

p {
  line-height: 1.5em;
  color: #616161;
  font-size: 1.25em;
  font-weight: 300;
}

a {
  line-height: 1.5em;
  font-weight: 300;
  transition: 0.75s all;
}

h2 {
  color: @h2-color;
}

h3 {
  color: @h3-color;
}

div.content {
  padding: 75px 0;
}