/*
  variables.less - Override the base bootstrap variables for further customization
*/

// Custom colors
@from: #fc6076;
@to: #ff9a44;

@h2-color: darken(@from, 10%);
@h3-color: darken(@to, 10%);
@landing-color: @from;

// Bootstrap overrides
@font-family-sans-serif:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@headings-font-family:    'PT Sans', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@headings-font-weight:    700;

@brand-primary: darken(@from, 10%);

@link-hover-color: lighten(@from, 10%);
@link-hover-decoration: none;