/*
  variables.less - Override the base bootstrap variables for further customization
*/

@font-family-sans-serif:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@headings-font-family:    'PT Sans';
@headings-font-weight:    700;

@brand-primary: #D38312;

@link-hover-color: #A83279;
@link-hover-decoration: none;